.typography {
  margin: 0;
  padding: 0;

  &.h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;

    @media only screen and (max-width:1500px) {
      font-size: 3rem;
    }
  }

  &.h2 {
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 1.3;
  }

  &.h3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3;
  }

  &.h3-bold{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.8rem;
  }

  &.subText {
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 1.3;
  }

  &.subText-2 {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.3;
  }

  &.subHeading-1 { font-size: 1.6rem; font-weight: 700; line-height: 1.4; }
  &.subHeading-2 { font-size: 1.6rem; font-weight: 600; line-height: 1.4; }
  &.subHeading-3 { font-size: 1.6rem; font-weight: 500; line-height: 1.4; }
  &.subHeading-4 { font-size: 1.6rem; font-weight: 400; line-height: 1.4; }

  &.body-text-1 { font-size: 1.5rem; font-weight: 700; line-height: 1.5; }
  &.body-text-2 { font-size: 1.5rem; font-weight: 600; line-height: 1.5; }
  &.body-text-3 { font-size: 1.5rem; font-weight: 500; line-height: 1.5; }
  &.body-text-4 { font-size: 1.5rem; font-weight: 400; line-height: 1.5; }

  &.text-1 { font-size: 1.4rem; font-weight: 700; line-height: 1.4; }
  &.text-2 { font-size: 1.4rem; font-weight: 600; line-height: 1.4; }
  &.text-3 { font-size: 1.4rem; font-weight: 500; line-height: 1.4; }
  &.text-4 { font-size: 1.4rem; font-weight: 400; line-height: 1.4; }

  &.small-heading-1 { font-size: 1.3rem; font-weight: 700; line-height: 1.4; }
  &.small-heading-2 { font-size: 1.3rem; font-weight: 600; line-height: 1.4; }
  &.small-heading-3 { font-size: 1.3rem; font-weight: 500; line-height: 1.4; }
  &.small-heading-4 { font-size: 1.3rem; font-weight: 400; line-height: 1.4; }

  &.small-text-1 { font-size: 1.2rem; font-weight: 700; line-height: 1.4; }
  &.small-text-2 { font-size: 1.2rem; font-weight: 600; line-height: 1.4; }
  &.small-text-3 { font-size: 1.2rem; font-weight: 500; line-height: 1.4; }
  &.small-text-4 { font-size: 1.2rem; font-weight: 400; line-height: 1.4; }
}
