
/node_modules
# make node_modules in specific workspace packages
/packages/*/node_modules
/apps/*/node_modules
/apps/*/dist
/apps/*/build
/apps/*/coverage
/apps/*/lib
/apps/*/esm
/apps/*/cjs
/packages/*/dist
/packages/*/build
/packages/*/coverage
/packages/*/lib
/packages/*/esm
/packages/*/cjs
/packages/*/tsconfig.tsbuildinfo
# make log files
*.log

# env include also
.env